<!-- < % if @order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      < %  = @order_item.errors.full_messages.each do |msg| %>
        <li>< %= msg %></li>
      < % end %>
    </ul>
  </div>
< % end %> -->
<% if @order_items.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart. Please <%= link_to "Get back to index of products", products_path %> and add some cases to your
  </p>
<% else %>
  <% @order_items.each do |order_item| %>
    <%= render 'carts/cart_row', product: order_item.product, order_item: order_item, show_total: true %>
  <% end %>
  <% @county_tax = 10 %>
  <h4>Subtotal: $<%= @subtotal %></h4>
  <h4>Tax(<%= @county_tax %>%): $<%= @subtotal_tax  %></h4>
  <h4>Order total: $<%= @order_total %></h4>
<%= form_tag('/charge') do %>
    <script src='https://checkout.stripe.com/checkout.js'
            class="stripe-button"
            data-key="pk_test_uovOTYQuhtyMnwvrd6KuByHq"
            data-description="Get your case"
            data-amount="<%= @order_total*100 %>"
            data-locale="auto"></script>
<% end %>
  <!-- Testing of Order_items each loop  -->
<% end %>

<!-- TODO Make total_price sum of all total_price_per_item(qty * unit_price)  -->
<!-- <h1>Total price:Order_Total ammount< % = @total %></h1> -->
