<div class="payment">
  <div class="pull-right">
    <% @county_tax = 10 %>
    <h4>Subtotal: $<%= @subtotal %></h4>
    <h4>Tax(<!-- <%= @county_tax %>-->TBD%): $<%= @subtotal_tax  %></h4>
    <h4>Shipping: $<%= @shipping %></h4>
    <h4>Order total: $<%=  @order_total  %></h4>
    <%= form_tag('/charge') do %>
      <script src='https://checkout.stripe.com/checkout.js'
            class="stripe-button"
            data-key="<%= App.first.stp_test_pk %>"
            data-description="Get your case"
            data-amount="<%= @order_total*100 %>"
            data-locale="auto"></script>
              <% end %>
